.blog {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 40px;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  background-color: #f5f5f5;
}

.blog-card {
  display: flex;
  align-items: center;
  width: 300px;
  height: 100px;
  margin-top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #faf0e6;
}
.blog-card:hover {
  background-color: #f8d4b0;
}

.blog-card .rate {
  display: flex;
  width: 200px;
  padding-left: 20px;
  box-sizing: border-box;
  height: 100%;
  justify-content: center;
  border-top-right-radius: 20px;
  flex-direction: column;
  /* border: 2px solid black; */
  /* background-color: #faf0e6; */
}
.blog-card .rate h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
.blog-card .rate p {
  margin-top: 4px;
  margin-bottom: 2px;
}
.blog-card .rate button {
  width: 70px;
  border-radius: 30px;
  background-color: gray;
}
.blog-card .avatar {
  width: 70px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;
  margin-left: 5%;
}
.blog-card .card-content {
  border: 2px solid black;
  width: 100%;
}
.blog-card .avatar img {
  width: 100%;
}

.card-content {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  box-sizing: border-box;
  text-wrap: wrap;
  text-align: justify;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: opacity 1s ease-in-out;
}
.card-content p {
  margin-top: 3px;
}
.fade-in {
  opacity: 1;
}

@media (max-width: 767px) {
  .blog {
    grid-template-columns: auto;
    padding: 50px;
    gap: 90px;
  }
  .card-content {
    margin-bottom: 10px;
  }
}
